p {
    font-family: Arial;
}

.thumbnail {
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}

.Search-Bar {
    border-radius: 30px;
}

.title {
    font-size: 18px;
    width: 300px;
}

.author ,
.views{
    color: rgb(100, 100, 100);
}