.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    margin-top: 4px;
    padding: 0 16px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburger-menu{
    height: 30px;
    margin-left: 6px;
    margin-right: 24px;
}

.middle {
    flex: 1;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
}
.searchbox {
    flex: 1;
    height: 30px;
    border-radius: 18px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;
}

.searchbox::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.search-button,
.voice-search-button {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border: none;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
}
  
.search-button .tooltip,
.voice-search-button .tooltip,
.notifications-icon-container .tooltip,
.upload-container .tooltip,
.app-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    z-index: 103;  
    bottom: -16px;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.upload-container:hover .tooltip,
.app-container:hover .tooltip {
    opacity: 1;
}


.search-icon,
.voice-search-icon {
    height: 20px;
}
  

.right {
    position: relative;
    justify-content: flex-end;
    width: 180px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.notifications-icon-container,
.app-container,
.upload-container {
    position: relative;
}
.upload, .apps, .notifications, .channepic{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    margin-left: 4px;
    margin-right: 14px;
    cursor: pointer;
  }

.notifications-count {
    position: absolute;
    top: 2px;
    right: 0px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
}
  
.channepic {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 30px;
}

.youtube-logo {
    height: 30px;
}
